extends layout

block content
    h1 Registo de musica #{musica.id}
    h2 Data: #{date}
    p
        b Identificador: 
        | #{musica.id}
    p
        b Titulo: 
        | #{musica.tit}
    p
        b
            a(href="/musicas/prov/" + musica.prov)=musica.prov
    hr
    address
        a(href="/musicas") Voltar